.carousel{
    margin-top: 2%;
    width: 90%;
    margin-left: 5%;
}

.titulo {
    margin-top: 2%;
    display: flex;
    align-items: center;
    margin-left: 5%;
    width: 90%;
  }
  #titulo{
    margin-left: 5%;
    margin-right: 5%;
  }
  .linea {
    flex-grow: 1;
    height: 2px;
    background-color: #28817A;
  }
  #contenedor{
    margin-left: 5%;
    width: 90%;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .evento{
    border: 2px solid rgb(216, 216, 216);
    border-radius: 10px;
    padding: 1%;
  }
  .img{
    width: 100%;
    height: auto;
  }