{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Poiret+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    {% block estilos %}

    {% endblock %}
    <title>MemiApp</title>
</head>
<body>
    <header class="grid grid-cols-7 justify-items-center">
        <div class="flex items-center"><img src="{% static 'img\logo.jpg' %}" id="logo"></div>
        <div class="flex items-center"><a href="{% url 'inicio'%}">Inicio</a></div>
        <div class="flex items-center"><a href="{% url 'nosotros'%}">Nosotros</a></div>
        <div class="flex items-center"><a href="{% url 'cursos' %}">Cursos</a></div>
        <div class="flex items-center"><a href="{% url 'publicaciones' %}">Publicaciones</a></div>
        <div class="flex items-center"><a href="#">Contactos</a></div>
        <div class="flex items-center"><a href="#" class="transform transition-transform duration-500 active:rotate-180" id="desplegar"><span class="material-symbols-outlined text-4xl" id="icono">arrow_drop_down</span></a></div>
    </header>
    <div class="grid grid-cols-1 justify-items-center" id="opciones">
        <a href="#" class="col-start-1 option" id="sesion_btn">Iniciar sesion</a>
        <a href="#" class="col-start-1 option" id="registrarse_btn">Registrarse</a>
    </div>
    <dialog id="registrarse">
        <form action="" method="post">
            <h3>Registrarse</h3>
            <label>Nombre:</label>
            <input type="text">
            <label>Email:</label>
            <input type="email">
            <label>Contraseña</label>
            <input type="password">
            <label>Confirmar contraseña:</label>
            <input type="password">
            <div class="botones grid grid-cols-2">
                <button id="confirmarR">Registrarse</button>
                <span id="cancelarR">Cancelar</span>
            </div>
        </form>
    </dialog>
    <dialog id="sesion">
        <form action="" method="post">
            <h3>Iniciar Sesion</h3>
            <label>Email:</label>
            <input type="email">
            <label>Contraseña</label>
            <input type="password">
            <div class="botones grid grid-cols-2">
                <button id="confirmarS">Registrarse</button>
                <span id="cancelarS">Cancelar</span>
            </div>
        </form>
    </dialog>
    <div id="main">
        {% block main %}
        {% endblock %}
    </div>
    {% block js %}
    {% endblock %}
</body>
<script>
    var desplegar=document.getElementById("desplegar")
    var alerta=0;
    var icono=document.getElementById("icono")
    desplegar.onclick=function(){
    var opciones=document.getElementsByClassName("option")
        if(alerta==0){
            opciones[0].style.display='block'
            opciones[1].style.display='block'
            icono.innerHTML='close'
            alerta=1;

        }else{
            opciones[0].style.display='none'
            opciones[1].style.display='none'
            alerta=0
            icono.innerHTML='arrow_drop_down'
        }
    }
    var registrarse_btn= document.getElementById("registrarse_btn");
    var registrarse= document.getElementById("registrarse");
    registrarse_btn.onclick=function(){
       registrarse.showModal();
    }
    var cancelarR=document.getElementById("cancelarR")
    cancelarR.onclick=function(){
        registrarse.close();
    }

    /*********************************************/
    var sesion_btn= document.getElementById("sesion_btn");
    var sesion= document.getElementById("sesion");
    sesion_btn.onclick=function(){
        sesion.showModal();
    }
    var cancelarS=document.getElementById("cancelarS")
    cancelarS.onclick=function(){
        sesion.close();
    }
</script>
</html>
